body{
    margin: 0;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
}

.header{
    background-color: rgb(85, 84, 84);
    width:100%;
    height: 30vh;
}

.content{
    margin: 0 auto;
    background-color: honeydew;
    width: 75%;
    height: 50vh;
}

.footer{
    margin: 0 auto;
    background-color: rgb(39, 39, 39);
    width: 75%;
    height: 20vh;
    align-content: center;
}